@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%; 
} /* always display scrollbars */

body {
  font-size: 62.5%; 
  line-height: 1; 
  font-family: Arial, Tahoma, Verdana, sans-serif; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; 
  content: none; 
}

strong {
  font-weight: bold; 
} 

input {
  outline: none; 
}

table {
  border-collapse: collapse; 
  border-spacing: 0; 
}

img { 
  border: 0; 
 }

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

.header {
  position: relative;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  min-height: 449px;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}



.header::before {
  content:"";
  display: block;
  position: absolute;
  background-color: #000000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  z-index: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.menu {
  max-width: 1200px;
  padding: 28px 9px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 0 16%;
}



.header-logo {
  width: 179px;
  height: 41px;
  z-index: 1;
  background-image: url(../svg/noemi-logo.svg);
  background-repeat: no-repeat;
  
}

.menu-list {
  display: flex;
  list-style-type: none;
  z-index: 1;
  padding-top: 2px;
}

.menu-list-item:nth-child(n+1) {
  margin-right: 34px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-family: OpenSans;
  font-size: 13px;
  text-transform: uppercase; 
}

.menu-button {
    width: 0.9em;
    height: 0.76em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;

}

.menu-button::before, .menu-button::after {
    content: "";
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.menu-button::before {
  top: 0;
}

.menu-button::after {
  bottom: 0;
}

.menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

.welcome {
  display: flex;
  max-width: 690px;
  font-family: OpenSans;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 4.5em;
  margin: 105px auto;
  line-height: 74px;
  text-align: center;
  padding-right: 16px ;
}

.welcome-title{
  z-index: 1;
  
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }
  .welcome {
    font-size: 4em;
  }
  .menu {
    width: 90%;
    margin: 0 4%;
  }
  .menu-list {
    display: none;
  }
  

}

@media (max-width: 640px) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
  }
  .menu {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .menu-list {
    display: none;
  }
  .welcome {
    font-size: 2.6em;
  } 

  
}

.main-container {
  padding-top: 64px;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}


.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.trends-title {
  font-family: OpenSans;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  position: relative;
  margin-top: 5em;
  margin-bottom: 3.5em;
}

.trends-title:after {
  content:"";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  top: 30px;
  left: 57px;
}

.trends-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.trend-section {
  position: relative;
  width: 24.6%;
  margin-bottom: 4px;

}

.trend-section::before {
  content:"";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #eff6f1;
  min-height: 320px;
  min-width: 415px;
}

/*.trend-section:nth-child(n+2) {
  margin-left: 4px;
}*/

.trend-info {
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin: 0 15px 20px;
  padding: 40px 35px;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.trend-section-title {
  margin-top: 15px;
}

.trend-section-name {
  font-family: OpenSans;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
}

.trend-section-name:hover {
  color: #b59f5b;
  text-decoration: none;
}

.trend-garden {
  position: relative;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  min-height: 320px;
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

.trend-garden::before {
  content:"";
  display: block;
  position: absolute;
  background-color: #000000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  z-index: 0;
}

.trend-cheese {
  position: relative;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  min-height: 320px;
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

.trend-cheese::before {
  content:"";
  display: block;
  position: absolute;
  background-color: #000000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  z-index: 0;
}

.trend-hike {
  position: relative;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  min-height: 320px;
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

.trend-hike::before {
  content:"";
  display: block;
  position: absolute;
  background-color: #000000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  z-index: 0;
}

.trend-lemon {
  position: relative;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  min-height: 320px;
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}

.trend-lemon::before {
  content:"";
  display: block;
  position: absolute;
  background-color: #000000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  z-index: 0;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .trend-section {
    width: 49%;
    
  }
  
  .trend-section:nth-child(even) {
  margin-left: 4px;
}
}

@media (max-width: 640px) {
  .trend-section {
    width: 100%;
  }
}

.posts {
  box-sizing: border-box;
  width: 67%;
  padding-left: 10px;
}

.news {
  display: flex;
  align-items: flex-start; 
  flex-wrap: wrap;
}

.news:nth-child(n+2) {
  margin-top: 55px;
}

.news-preview {
  width: 48.5%;
  position: relative;
  
}

.news-preview::before {
  content:"";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #eff6f1;
  height: 293px;
  max-width: 381px;
}

.news-img {
  position: relative;
}

.news-description {
  width: 47%;
  margin-top: 0;
  margin-left: 4.2%;
}

.news-theme-list {
  display: flex;
  flex-wrap: wrap;
}



.news-theme-name {
  font-family: OpenSans;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
  margin-right: 18px;
}

.news-title {
   margin-top: 10px;
}

.news-title-name {
  font-size: 20px;
  font-family: OpenSans;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  line-height: 1.2;
}

.news-title-name:hover {
  color: #b59f5b;
  text-decoration: none;
}

.date-author {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 47px;
}

.date {
  font-family: OpenSans;
  color: #888888;
  font-size: 12px;
  
}

.author {
  font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  margin-left: 11px;
}

p {
  font-family: OpenSans;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .news {
   margin-left: 4.2%;
   margin-right: 4.2%;
  } 
  .news-description {
    width: 100%;
    margin: 0;
  }
  .news-preview{
    width: 100%;
  }
}

@media (max-width: 640px) {
  .main-container {
    flex-direction: column;
  }
.posts {
  width: 100%;
}
  .news-description {
    width: 100%;
  }
  .news-preview {
    width: 100%;
  }
}

.holder {
  margin: 0 auto;
  width: 287px;
  display: flex;
  flex-direction: column;
  padding-right: 7px;
}

.title {
  font-family: OpenSans;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  padding-right: 7px;
}

.title::after {
  content:"";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  top: 25px;
  left: 107px;
}

.post-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.post-preview {
  width: 70px;
  position: relative;
}

.post-preview::before {
  content:"";
  position: absolute;
  display: block;
  background-color: #f4f7f6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.post-image {
  position: relative;
}

.post-name-date {
  margin-left: 20px;
  margin-bottom: 2px;
}

.post-name {
  margin-top: 5px;
}

.post-name-title {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.2;
}

.post-name-title:hover {
  text-decoration: none;
  color: #b59f5b;
}

.search {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 235px;
}

.search-group {
  box-sizing: border-box;
  position: relative;
}

.field {
  width: 250px;
  height: 47px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 20px;
}

.field:focus {
   outline: 1px solid #b59f5b;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/search.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  background-color: #b59f5b;
  border: none;
  position: absolute;
  right: 0;
}

.button:hover {
  background-color: #323232;
}

.submit-group {
  margin-top: 62px;
}

.button-submit {
  box-sizing: content-box;
  margin-top: 17px;
  width: 270px;
  height: 44px;
  background-color: #b59f5b;
  font-family: OpenSans;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border: none;
  margin-bottom: 60px;
}

.button-submit:hover {
  background-color: #323232;
}

.tag-list {
  list-style-type: none;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}


.tag-list-item {
  margin: 6px 5px 6px 0px;
}

.tag-list-item:nth-child(n+4) {
  margin-top: 20px;
}

.tag-link {
  text-decoration: none;
  color: #0f0d0e;
  border: 3px solid #eeeeee;
  padding: 4px 13px;
 }

.tag-link:hover {
  border-color: #b59f5b;
  text-decoration: none;
}

.theme-group {
  margin-top: 60px;
}

.theme-list {
  list-style-type: none;
  padding: 0;
}

.theme-list-item {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 20px;
  
}

.theme-list-item::after{
  content:"";
  position: absolute;
  width: 272px;
  height: 1px;
  background-color: #eeeeee;
  bottom: 0;
}

.theme-link {
  font-family: OpenSans;
  font-weight: bold;
  color: #0f0d0e;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 15px;
}

.theme-link:hover {
  text-decoration: none;
  color: #b59f5b;
}

.theme-number {
  font-family: OpenSans;
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: super;
  margin-left: 5px;
}

.shop {
  width: 100%;
}

.shop-list {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop-card {
  width: 28%;
  display: flex;
  flex-direction: column;
  
}

.picture {
  min-height: 200px;
  position: relative;
}

.picture-preview {
  position: relative;
}
.picture-preview:before {
  content:"";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #eff6f1;
  min-height: 204x;
  ;
}

.shop-info {
  border: 4px solid rgba(181, 159, 91, 0.6);
  padding-top: 55px;
  padding-left: 20px;
  padding-right: 22px;
  outline-offset: 28px;
}

.shop-title {
  font-family: OpenSans;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.purchase-container {
  display: flex;
  justify-content: space-between;
}

.old-price {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-decoration: line-through;
}

.price {
  font-family: OpenSans;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .shop-card {
    width: 47%;
  } 
}

@media (max-width: 640px) {
  .shop-card {
    width: 100%;
  }
}

.trend-link {
  color: #b59f5b;
}

.trend-link:hover {
  color: #b59f5b
}

.footer {
  margin: 0 auto;
  max-width: 1200px;
}


.articles-socials {
  margin: 62px 15px 73px;
  max-width: 1170px;
  height: 84px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
}

.social-items {
  display: flex;
}

.social-items:nth-child(n+2) {
  padding-left: 25px;
}

.socials-link {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.socials-link-dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.socials-link-pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.visually-hidden {
  position: absolute; 
  width: 1px;
  height: 1px;
  margin: -1px; 
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright {
  font-family: OpenSans;
  font-size: 12px;
  color: #999999;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.copyright:hover {
  text-decoration: none;
}